 /* p{
    color:rgb(0, 255, 21);
} */
/*.p{
    color:aqua;
    background-color:brown;
}
#jk{
    font_size: 30px;
}
div{
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 20px;
} */
 /* div{
    height: 150px;
    width: 150px;
    padding: 100px;
    background-color:aqua;
    color:blue;



 } */
  /* p{
    border:10px solid rgb(163, 157, 29);
    background-color:black;
    padding:100px;
    margin:20px;
     width : 400px;
  } */
/* div{
    border: 2px solid black;
    width: 800px
} */
 /* div{
    border: 2px solid black;
 } */

 .container {
    
    height: 600px;
    width:800px;
    background-color: blueviolet;
    /* flex-direction: row; */
    flex-wrap: wrap;


 }
 .item{
    height:100px;
    width:100px;
    background-color: aqua;
    margin:10px;
 }