 /* p{
    color:rgb(0, 255, 21);
} */
/*.p{
    color:aqua;
    background-color:brown;
}
#jk{
    font_size: 30px;
}
div{
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 20px;
} */
 /* div{
    height: 150px;
    width: 150px;
    padding: 100px;
    background-color:aqua;
    color:blue;



 } */
  /* p{
    border:10px solid rgb(163, 157, 29);
    background-color:black;
    padding:100px;
    margin:20px;
     width : 400px;
  } */
/* div{
    border: 2px solid black;
    width: 800px
} */
 /* div{
    border: 2px solid black;
 } */

 .container {
    display: flex;
    height: 600px;
    width:1300px;
    background-color: blueviolet;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* justify-content: center;
    align-items: flex-end;
    align-content:  space-between; */
    gap: 20px;
    row-gap: 20px;
    column-gap: 30px;


 }
 .item{
    height:100px;
    width:200px;
    background-color: aqua;
    margin:10px;
   flex-grow: 1;
 }
 .item2{
   order: -1;
flex-grow:2;
align-self: flex-end;
 }